<section class="sectionFooter">
<div class="container">
  <div class="titlefooter">
  <div class="row">
    <div class="col-lg-12">
      <h1>INFO FOOTER</h1>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-lg-3 columna1">
      <p>COMPANY</p>
       <p>novum</p>
    </div>
    <div class="col-lg-3 columna2">
      <p>PRODUCTS</p>
    </div>
    <div class="col-lg-3 columna3">
      <p>SERVICES</p>
    </div>
    <div class="col-lg-3 columna4">
       <p>
        CONTACTOS
       </p>
    </div> 
  </div>
</div>
</section>
